<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <script src="static/crypto.js"></script>

    <title>Igloo Network</title>
</head>
<body>
    <h1 style="font-weight: 500;">Welcome on the Igloo of <i style="font-weight: bold;"><%=IglooName%></i></h1>
</body>
</html>